# Bot Settings
BOT_TOKEN=
ADMIN_IDS=
DATABASE_URL=
API_ID=21377358
API_HASH=e05bc1f4f03839db7864a99dbf72d1cd


# Balance
DEFAULT_CURRENCY=₹
MIN_BALANCE_REQUIRED=0

# Gmail (for FamPay verification)
GMAIL_USER=
GMAIL_PASS=

# MongoDB (for storing transactions)
MONGO_URL=
